<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Ops, tivemos um problema.</h1>
        <h2>Por favor, informar a Londrina S/A o link atual, atendemos pelo telefone (43) 3338-2690.</h2>
    </hgroup>
</body>
</html>
