{% extends "base.html" %}
{% block corpo %}

{% include 'menu.html' %}

<div class="conteudo">
    {% include 'topo.html' %}
    <main>
        {% block conteudo %}
        <h5 class="mb-3 text-xl font-semibold text-gray-700">
            Dashboard 
            <small class="text-sm text-gray-500">
                - {{saudacao()}}, {{usuario().nome}}. Seu último login foi em {{usuario().ultimo_login |date('d/m/Y')}} às {{usuario().ultimo_login |date('H:i')}}
            </small>
        </h5>

        {{ flash() }}

        <div class="row">
            <div class="col-xl-12 col-xxl-12 mb-4 d-flex">
                <div class="w-100">
                    <div class="row">
                        <!--INICIO POSTS-->
                        <div class="col-sm-4">
                            <div class="card border-0 shadow-sm mb-3 bg-white rounded-lg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="text-lg font-bold text-gray-600">Congregações</h6>
                                        </div>
                                        <div class="col-auto text-gray-500">
                                            <a href="{{url('admin/congregacoes/cadastrar')}}" class="hover:text-blue-500" tooltip="tooltip" title="Cadastrar Congregação">
                                                <i class="fas fa-building"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-3xl font-bold text-gray-800">
                                        {{ formatarNumero(congregacoes.total ?? 0) }}
                                    </h1>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge bg-green-100 text-green-600">
                                                {{ formatarNumero(congregacoes.congregacoesAtiva ?? 0) }} Ativo
                                            </span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge bg-red-100 text-red-600">
                                                {{ formatarNumero(congregacoes.congregacoesInativa ?? 0) }} Inativo
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIM POSTS-->

                        <!--INICIO CATEGORIAS-->
                        <div class="col-sm-4">
                            <div class="card border-0 shadow-sm mb-3 bg-white rounded-lg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="text-lg font-bold text-gray-600">Categorias</h6>
                                        </div>
                                        <div class="col-auto text-gray-500">
                                            <a href="{{url('admin/categorias/cadastrar')}}" class="hover:text-blue-500" tooltip="tooltip" title="Cadastrar Categoria">
                                                <i class="fa fa-tags"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-3xl font-bold text-gray-800">{{categorias.total}}</h1>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge bg-green-100 text-green-600">{{categorias.categoriasAtiva}} Ativo</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge bg-red-100 text-red-600">{{categorias.categoriasInativa}} Inativo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIM CATEGORIAS-->

                        <!--INICIO USUARIOS-->
                        <div class="col-sm-4">
                            <div class="card border-0 shadow-sm mb-3 bg-white rounded-lg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="text-lg font-bold text-gray-600">Produtos</h6>
                                        </div>
                                        <div class="col-auto text-gray-500">
                                            <a href="{{url('admin/produtos/cadastrar')}}" class="hover:text-blue-500" tooltip="tooltip" title="Cadastrar Produto">
                                                <i class="fas fa-box"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-3xl font-bold text-gray-800">{{produtos.total}}</h1>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge bg-green-100 text-green-600">{{produtos.produtoAtivo}} Ativo</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge bg-red-100 text-red-600">{{produtos.produtoInativo}} Inativo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIM USUARIOS-->

                        <!--INICIO ADMIN-->
                        <div class="col-sm-4">
                            <div class="card border-0 shadow-sm mb-3 bg-white rounded-lg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="text-lg font-bold text-gray-600">Usuários</h6>
                                        </div>
                                        <div class="col-auto text-gray-500">
                                            <a href="{{url('admin/usuarios/cadastrar')}}" class="hover:text-blue-500" tooltip="tooltip" title="Cadastrar Usuário">
                                                <i class="fas fa-users"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-3xl font-bold text-gray-800">{{usuarios.usuarios}}</h1>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge bg-green-100 text-green-600">{{usuarios.usuariosAtivo}} Ativo</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge bg-red-100 text-red-600">{{usuarios.usuariosInativo}} Inativo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card border-0 shadow-sm mb-3 bg-white rounded-lg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="text-lg font-bold text-gray-600">Usuários Admin</h6>
                                        </div>
                                        <div class="col-auto text-gray-500">
                                            <a href="{{url('admin/usuarios/cadastrar')}}" class="hover:text-blue-500" tooltip="tooltip" title="Cadastrar Usuário">
                                                <i class="fa-solid fa-user-pen"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-3xl font-bold text-gray-800">{{usuarios.admin}}</h1>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge bg-green-100 text-green-600">{{usuarios.adminAtivo}} Ativo</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge bg-red-100 text-red-600">{{usuarios.adminInativo}} Inativo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIM ADMIN-->
                        <div class="col-sm-4">
                            <div class="card border-0 shadow-sm mb-3 bg-white rounded-lg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="text-lg font-bold text-gray-600">Locações</h6>
                                        </div>
                                        <div class="col-auto text-gray-500">
                                            <a href="{{url('admin/locacoes/cadastrar')}}" class="hover:text-blue-500" tooltip="tooltip" title="Cadastrar Locação">
                                                <i class="fa-solid fa-file-pen"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-3xl font-bold text-gray-800">{{ formatarNumero(locacoes.total ?? 0) }}</h1>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge bg-blue-100 text-blue-600">{{ formatarNumero(locacoes.locacoesAtiva ?? 0) }} Ativo</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge bg-red-100 text-red-600">{{ formatarNumero(locacoes.locacoesPendente ?? 0) }} Pendente</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge bg-green-100 text-green-600">{{ formatarNumero(locacoes.locacoesFinalizado ?? 0) }} Finalizado</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-xl-12 mb-4">
                <div class="card border-0 shadow-sm  h-100 bg-white rounded-lg">
                    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                        <h6 class="fw-bold text-gray-600">
                            Últimas Categorias
                        </h6>
                    </div>
                    <div class="card-body">
                        {% if categorias.categorias %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-gray-100 text-gray-700">
                                    <tr>
                                        <th class="px-4 py-2">Título</th>
                                        <th class="px-4 py-2 text-center">Visitas</th>
                                        <th class="px-4 py-2 text-center">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for categoria in categorias.categorias %}
                                    <tr class="hover:bg-gray-50">
                                        <td class="px-4 py-2">
                                            <span>
                                                {% if categoria.status == 1 %}
                                                <i class="fa-solid fa-circle text-green-500" tooltip="tooltip" title="Ativo"></i>
                                                {% else %}
                                                <i class="fa-solid fa-circle text-red-500" tooltip="tooltip" title="Inativo"></i>
                                                {% endif %}
                                            </span>
                                            {{categoria.titulo}}
                                        </td>
                                        <td class="px-4 py-2 text-center">
                                            {{formatarNumero(categoria.visitas)}}
                                        </td>
                                        <td class="px-4 py-2 text-center">
                                            <a href="{{ url('admin/categorias/editar/'~categoria.id) }}" tooltip="tooltip" title="Editar" class="text-blue-500 hover:text-blue-700">
                                                <i class="fa-solid fa-pen m-1"></i>
                                            </a>
                                            <a href="{{ url('admin/categorias/deletar/'~categoria.id) }}" tooltip="tooltip" title="Deletar" class="text-red-500 hover:text-red-700">
                                                <i class="fa-solid fa-trash m-1"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="alert alert-warning text-yellow-600 bg-yellow-100" role="alert">
                            Nenhuma categoria cadastrada para exibir!
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--INICIO ULTIMOS LOGIN-->
            <div class="col-sm-12 col-md-12 col-xl-12 mb-4">
                <div class="card border-0 shadow-sm  h-100 bg-white rounded-lg">
                    <div class="card-header bg-white border-0 mt-2">
                        <h6 class="fw-bold text-gray-600">
                            Últimos Logins
                        </h6>
                    </div>
                    <div class="card-body">
                        {% if usuarios %}
                        <ul class="list-group list-group-flush">
                            {% for usuario in usuarios.logins %}
                            <li class="list-group-item">
                                <p class="font-semibold text-gray-700">
                                    <i class="fa-solid fa-user me-2"></i>
                                    <span>{{usuario.nome}}</span>
                                </p>
                                <small class="text-gray-500">{{ contarTempo(usuario.cadastrado_em) }} em {{ usuario.cadastrado_em|date("d/m/Y") }} às {{ usuario.ultimo_login|date("H:i") }}</small>
                            </li>
                            {%endfor%}
                        </ul>
                        {% else %}
                        <div class="alert alert-warning text-yellow-600 bg-yellow-100" role="alert">
                            Nenhum login para exibir!
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--FIM ULTIMOS LOGIN-->

            <div class="col-sm-12 col-md-12 col-xl-12 mb-4">
                <div class="card border-0 shadow-sm  h-100 bg-white rounded-lg">
                    <div class="card-header bg-white border-0 mt-2">
                        <h6 class="fw-bold text-gray-600">
                            Últimos Produtos
                        </h6>
                    </div>
                    <div class="card-body">
                        {% if produtos.produtos %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-gray-100 text-gray-700">
                                    <tr>
                                        <th class="px-4 py-2">Título</th>
                                        <th class="px-4 py-2 text-center">Visitas</th>
                                        <th class="px-4 py-2 text-center">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for produto in produtos.produtos %}
                                    <tr class="hover:bg-gray-50">
                                        <td class="px-4 py-2">
                                            <span>
                                                {% if produto.status == 1 %}
                                                <i class="fa-solid fa-circle text-green-500" tooltip="tooltip" title="Ativo"></i>
                                                {% else %}
                                                <i class="fa-solid fa-circle text-red-500" tooltip="tooltip" title="Inativo"></i>
                                                {% endif %}
                                            </span>
                                            {{produto.titulo}}
                                        </td>
                                        <td class="px-4 py-2 text-center">
                                            {{ produto.visitas is not null ? formatarNumero(produto.visitas) : 'N/A' }}
                                        </td>
                                        <td class="px-4 py-2 text-center">
                                            <a href="{{ url('admin/produtos/editar/'~produto.id) }}" tooltip="tooltip" title="Editar" class="text-blue-500 hover:text-blue-700">
                                                <i class="fa-solid fa-pen m-1"></i>
                                            </a>
                                            <a href="{{ url('admin/produtos/deletar/'~produto.id) }}" tooltip="tooltip" title="Deletar" class="text-red-500 hover:text-red-700">
                                                <i class="fa-solid fa-trash m-1"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="alert alert-warning text-yellow-600 bg-yellow-100" role="alert">
                            Nenhum produto cadastrado para exibir!
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-xxl-12 mb-4">
                <div class="card border-0 shadow-sm bg-white rounded-lg">
                    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                        <h6 class="text-lg font-bold text-gray-600">Devoluções</h6>
                    </div>
                    <div class="card-body">
                        {% if devolucaoLocacoes.devolucaoLocacoes %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-gray-100 text-gray-700">
                                    <tr>
                                        <th class="px-4 py-2">ID</th>
                                        <th class="px-4 py-2 text-center">Produto</th>
                                        <th class="px-4 py-2 text-center">Data da Locação</th>
                                        <th class="px-4 py-2 text-center">Data de Devolução</th>
                                        <th class="px-4 py-2 text-center">Igreja</th>
                                        <th class="px-4 py-2 text-center">Responsável</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in devolucaoLocacoes.devolucaoLocacoes %}
                                    <tr class="hover:bg-gray-50">
                                        <td class="px-4 py-2 text-center">{{item.id}}</td>
                                        {% if devolucaoLocacoes.devolucaoProdutos %}
                                        {% for produto in devolucaoLocacoes.devolucaoProdutos %}
                                        {% if produto.locacao_id == item.id%}
                                        <td class="px-4 py-2 text-center">{{produto.titulo}}</td>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        <td class="px-4 py-2 text-center">{{item.data_locacao|date("d/m/Y")}}</td>
                                        <td class="px-4 py-2 text-center">{{item.data_devolucao|date("d/m/Y")}}</td>
                                        {% if devolucaoLocacoes.devolucaoCongregacoes %}
                                        {% for igreja in devolucaoLocacoes.devolucaoCongregacoes %}
                                        {% if igreja.id == item.igreja_id%}
                                        <td class="px-4 py-2 text-center">{{igreja.nome}}</td>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        {% if devolucaoLocacoes.devolucaoResponsavelLocacao %}
                                        {% for responsavel in devolucaoLocacoes.devolucaoResponsavelLocacao %}
                                        {% if responsavel.id == item.retirado_por %}
                                        <td class="px-4 py-2 text-center">{{responsavel.nome}}</td>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="alert alert-warning text-yellow-600 bg-yellow-100" role="alert">
                            Nenhuma devolução cadastrada para exibir!
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
    </main>
    {% include 'rodape.html' %}
</div>

{% endblock %}
