{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Locações
        </li>
    </ol>
</nav>
{{flash()}}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-buttom d-flex justify-content-between align-items-center">
        <div>
            <span class="badge">
                <span class="text-secondary">
                    {{formatarNumero(total.locacoes)}} locações
                </span>
            </span>
            <span class="text-secondary">|</span>
            <span class="badge text-secondary">
                <span class="text-success">
                    {{formatarNumero(total.locacoesAtivas)}}
                </span>ativas
            </span>
            <span class="text-secondary">|</span>
            <span class="badge text-secondary">
                <span class="text-danger">
                    {{formatarNumero(total.locacoesFinalizadas)}}
                </span>finalizadas
            </span>
        </div>
        <div>
            <!-- Botões para baixar relatórios -->
            <a type="button" id="botaoExportarPDF" class="btn btn-info" tooltip="tooltip" title="Baixar PDF">
                <i class="fa-solid fa-file-pdf"></i>
            </a>
            <a type="button" id="botaoExportarExcel" class="btn btn-success" tooltip="tooltip" title="Baixar Excel">
                <i class="fa-solid fa-file-excel"></i>
            </a>
            <a href="{{url('admin/locacoes/cadastrar')}}" class="btn btn-dark" tooltip="tooltip"
                title="Cadastrar Locação">
                Cadastrar
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-striped" url="{{url()}}" id="tabelaLocacoes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data da Locação</th>
                        <th>Data de Devolução</th>
                        <th>Igreja</th>
                        <th>Responsável</th>
                        <th>Status</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for locacao in locacoes %}
                    <tr>
                        <th>{{locacao.id}}</th>
                        <td>{{locacao.data_locacao|date("d/m/Y")}}</td>
                        <td title="{% if locacao.status == 'finalizada' %}Tinha que devolver em: {{ locacao.data_devolucao|date('d/m/Y') }}{% else %}Devolução em: {{ locacao.data_devolucao|date('d/m/Y') }}{% endif %}">
                            {% if locacao.status == 'finalizada' %}
                                {% set diasDevolucao = calcularTempoRestante(locacao.data_devolucao, locacao.devolvidos_em) %}
                                {% if diasDevolucao < 0 %}
                                    <button class="btn btn-warning btn-xs p-0" style="font-size: 0.7rem; min-width: 80px;">
                                        Devolvido em: {{ locacao.devolvidos_em|date('d/m/Y') }} (Devolvido com {{ diasDevolucao * -1 }} dias de atraso)
                                    </button>
                                {% elseif diasDevolucao == 0 %}
                                    <button class="btn btn-secondary btn-xs p-0" style="font-size: 0.7rem; min-width: 80px;">
                                        Devolvido em: {{ locacao.devolvidos_em|date('d/m/Y') }} (Devolvido no prazo)
                                    </button>
                                {% else %}
                                    <button class="btn btn-success btn-xs p-0" style="font-size: 0.7rem; min-width: 80px;">
                                        Devolvido em: {{ locacao.devolvidos_em|date('d/m/Y') }} (Devolvido {{ diasDevolucao }} dias adiantado)
                                    </button>
                                {% endif %}
                            {% else %}
                                {% set diasRestantes = calcularTempoRestante(locacao.data_devolucao) %}
                                {% if diasRestantes < 0 %}
                                    <button class="btn btn-danger btn-xs p-0" style="font-size: 0.7rem; min-width: 80px;">
                                        {{ diasRestantes * -1 }} dias em atraso
                                    </button>
                                {% elseif diasRestantes == 0 %}
                                    <button class="btn btn-danger btn-xs p-0" style="font-size: 0.7rem; min-width: 80px;">
                                        {{ contarTempoRestante(locacao.data_devolucao) }}
                                    </button>
                                {% elseif diasRestantes == 1 %}
                                    <button class="btn btn-warning btn-xs p-0" style="font-size: 0.7rem; min-width: 80px;">
                                        {{ contarTempoRestante(locacao.data_devolucao) }}
                                    </button>
                                {% else %}
                                    <button class="btn btn-success btn-xs p-0" style="font-size: 0.7rem; min-width: 80px;">
                                        {{ contarTempoRestante(locacao.data_devolucao) }}
                                    </button>
                                {% endif %}
                            {% endif %}
                        </td>

                        {% if congregacoes %}
                            {% for congregacao in congregacoes%}
                            {% if congregacao.id == locacao.igreja_id%}
                            <td>{{congregacao.nome}}</td>
                            {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% set responsavelNome = "N/A" %}

                        {% if responsavelRetirada %}
                            {% for responsavel in responsavelRetirada %}
                                {% if responsavel.id == locacao.retirado_por %}
                                    {% set responsavelNome = responsavel.nome %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <td>{{ responsavelNome }}</td>


                        <td class="text-center">
                            {% if locacao.status == 'ativa' %}
                            <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativa"></i>
                            {% elseif locacao.status == 'finalizada' %}
                            <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Finalizada"></i>
                            {% else %}
                            <i class="fa-solid fa-circle text-warning" tooltip="tooltip" title="Pendente"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a type="button" class="botao" href="{{ url('admin/locacoes/gerar-pdf/'~locacao.id) }}" target="_blank" tooltip="tooltip"
                                title="Gerar Contrato">
                                <i class="fas fa-print m-1"></i>
                            </a>
                            <a href="{{ url('admin/locacoes/editar/'~locacao.id) }}" tooltip="tooltip"
                                title="Editar">
                                <i class="fa-solid fa-pen m-1"></i>
                            </a>
                            <a href="{{ url('admin/locacoes/deletar/'~locacao.id) }}" tooltip="tooltip"
                                title="Deletar">
                                <i class="fa-solid fa-trash m-1"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}
